<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div th:replace="~{base :: titulo('Novo Atendimento')}"></div>
	<div class="card  mt-3">
		<form th:object="${atendimentoRequisicao}" class="card-body" action="/atendimentos/adicionar" method="POST">
			<div class="mb-3">
			  <label for="fPaciente" class="form-label">Paciente</label>
			  <input th:field="*{fPaciente}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="nome do paciente" />
			  <small>Campo para selecionar o paciente, que traz um busca para tal</small>
			  <div th:errors="*{fPaciente}" class="invalid-feedback">
			  	Erros no nome do produto!
			  </div>
			</div>
			<div class="mb-3">
			  <label for="fData" class="form-label">Data do agendamento</label>
			  <input th:field="*{fData}" th:errorclass="is-invalid" type="date" class="form-control" />
			  <small>Escolha uma data prevista para o atendimento ou deixe em branco para atendimento ontime</small>
			  <div th:errors="*{fData}" class="invalid-feedback">
			  	Erros na data do agendamento!
			  </div>
			</div>
			<div class="mb-3">
			  <label for="fAnotacao1" class="form-label">Anotações</label>
			  <textarea th:field="*{fAnotacao1}" class="form-control" id="fAnotacao1" name="fAnotacao1" rows="5"></textarea>
			  <small>Campo para anotações sobre o atendimento</small>
			</div>
			<div class="mb-3">
			  <label for="fAnotacao2" class="form-label">Anotações adicionais</label>
			  <textarea th:field="*{fAnotacao2}" class="form-control" id="fAnotacao2" name="fAnotacao2" rows="5"></textarea>
			  <small>Campo para anotações adicionais sobre o atendimento</small>
			</div>
			<button class="btn btn-primary" type="submit">Adicionar</button>
		</form>
	</div>
</body>
</html>