<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Pacientes')}"></div>
	
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-1">
			<div class="navbar-nav">
				<a class="nav-link nav-iten" href="#">Atuais</a> 
				<a class="nav-link nav-iten" href="">Em Alta</a>
				<a class="nav-link nav-iten" href="#">Desistentes</a> 
			</div>
			<a href="/paciente/formulario">
				<button class="btn btn-outline-secondary">Novo</button>
			</a>
		</nav>
		<div class="card">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Contato</th>
							<th scope="col">Atendimentos</th>
							<th scope="col">Foto</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${pacientes}">
							<th scope="row">1</th>
							<td th:text="${p.cpf}"></td>
							<td th:text="${p.nome}"></td>
							<td th:text="${p.dataPagamento}"></td>
							<td>
								<img class="img-thumbnail" src="" alt="selft do paciente" />
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5" scope="row">
								<a href="">Add Paciente</a>
							</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</body>
</html>